@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply h-full bg-black text-white
}

::-webkit-scrollbar {
  width: 0.625rem;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(144deg, #333338 30%, #322a2a);
  border-radius: 0.625rem;
}